[Unit]
Description=check linux-common git repo for updates

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "/home/$USER/linux-common/configuration/systemd/scripts/check-linux-common.sh"
